:root {
    --white: #FFFFFF;
    --gray: rgba(25, 24, 43, 0.25);
    --pale-navy: #36384D;
    --dark-navy: #242742;
    --vermellion: #FF6155;

    --150: 150px;
    --100: 100px;
    --56: 56px;
    --40: 40px;
    --16: 16px;
    --12: 12px;

    --regular: 400;
    --bold: 700;
}

.font {
    &-h {
        font-size: var(--40);
        line-height: 1;
        font-weight: var(--bold);

        @media screen and (min-width:1440px) {
            font-size: var(--56);
        }
    }

    &-body {
        font-size: var(--16);
        line-height: 1.5;
        font-weight: var(--regular);
        color: var(--dark-navy);

        @media screen and (min-width:1440px) {
            // padding-bottom: 40px;
        }
    }

    &-list {
        font-size: var(--16);
        line-height: 1.5;
        font-weight: var(--regular);
        color: var(--dark-navy);
        // padding-bottom: 10px;
    }

    &-b-bold {
        font-size: var(--16);
        line-height: 1.5;
        font-weight: var(--bold);
    }

    &-b-small {
        font-size: var(--12);
        line-height: 1.5;
        font-weight: var(--bold);
    }
}

.vermellion {
    color: var(--vermellion)
}

// Padding and Margins
$t-padding: 1;
$b-padding: 8, 10, 24, 26, 40;
$l-padding: 16;
$r-padding: 16;

@each $padding in $t-padding {
    .p-t-#{$padding} {
        padding-top: #{$padding}px;
    }
}

@each $padding in $b-padding {
    .p-b-#{$padding} {
        padding-bottom: #{$padding}px;
    }
}

@each $padding in $l-padding {
    .p-l-#{$padding} {
        padding-left: #{$padding}px;
    }
}

@each $padding in $r-padding {
    .p-r-#{$padding} {
        padding-right: #{$padding}px;
    }
}

$t-margin: 263;
$b-margin: 40;

@each $margin in $t-margin {
    .m-t-#{$margin} {
        margin-top: #{$margin}px
    }
}

@each $margin in $b-margin {
    .m-b-#{$margin} {
        margin-bottom: #{$margin}px
    }
}



// Flex directions
$flex-directions: (
    "r": "row",
    "c": "column",
);

@each $key, $value in $flex-directions {
    .fd-#{$key} {
        display: flex;
        flex-direction: #{$value};
    }
}

// justify contents
$justify-contents: (
    "sb": "space-between",
    "c": "center",
    "s": "start",
    "e": "end"
);

@each $key, $value in $justify-contents {
    .jc-#{$key} {
        justify-content: #{$value};
    }
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
    line-height: 0;
    color: var(--dark-navy);

    @media screen and (min-width:1440px) {
        background-color: var(--pale-navy);
    }
}

.overlay {
    @media screen and (min-width:1440px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100vh;
    }
}

.base {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--white);

    @media screen and (min-width:1440px) {
        height: 641px;
        width: 928px;
        border-radius: 36px;
    }

    &-small {
        @media screen and (min-width:1440px) {
            height: 520px;
            width: 504px;
        }
    }

}

.subscribe-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    @media screen and (min-width:1440px) {
        display: flex;
        flex-direction: row-reverse;

        justify-content: center;
        align-items: center;

        padding: 24px 24px 24px 64px;
    }
}

.main {
    padding: 40px 24px 40px 24px;

    @media screen and (min-width:1440px) {
        padding: 0px;
        height: 446px;
        width: 376px;

        margin-right: 64px;

    }
}

.success {
    padding: 149px 24px 40px 24px;

    &-body {
        @media screen and (min-width:1440px) {
            padding: 48px 64px 64px 64px;
        }

    }

    @media screen and (min-width:1440px) {
        width: 504px;
        height: 520px;
        border-radius: 36px;
        background-color: var(--white);

        padding: 0px;
    }
}


// .input {
//     &-container {
//         display: flex;

//         height: 56px;
//         border: 1px solid var(--gray);
//         border-radius: 8px;
//     }

//     &-field {
//         padding-left: 24px;
//         color: var(--dark-navy);
//         opacity: 0.5;
//     }
// }

.button {
    &-subscribe {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 56px;

        border-radius: 8px;
        background-color: var(--dark-navy);

        @media screen and (min-width: 1440px) {
            display: flex;
            justify-content: center;
            width: 376px;

            margin-top: 0px;
        }
    }

    &-dismiss {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 56px;

        border-radius: 8px;
        background-color: var(--dark-navy);

        margin-top: 263px;

        @media screen and (min-width: 1440px) {
            display: flex;
            justify-content: center;
            width: 376px;

            margin-top: 40px;
        }
    }

    &-text {
        color: var(--white)
    }
}


.display-none {
    display: none;
}


// --------------------------------------------------------------------------------------

.booba {}

#subscribe-email {
    display: inline;
}

.subscribe-email-input {
    width: 100%;
    height: 56px;
    border: 1px solid var(--gray);
    border-radius: 8px;

    padding: 12px 20px;
}

.drop-shadow:hover {
    box-shadow: 0px 16px 32px 0 rgba(255, 97, 85, 0.5);
}

.gradient1:hover {
    background-image: linear-gradient(#FF6A3A, #FF527B)
}

.pointer:hover {
    cursor: pointer;
}

.focus:focus {
    border: 1px solid var(--dark-navy);
    color: var(--dark-navy);
}

.invalid-input {
    border: 1px solid var(--vermellion);
    color: var(--vermellion);
    background-color: rgba(255, 97, 85, 0.15);
}


// --------------------------------------------------------------------------------------
.attribution {
    font-size: 11px;
    font-weight: lighter;
    text-align: center;

    margin-top: 10px;
    margin-bottom: 10px;

    @media screen and (min-width: 1440px) {
        margin-top: 15px;
        margin-bottom: 10px;
        color: white;
        font-weight: lighter;
    }
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-weight: lighter;

    @media screen and (min-width: 1440px) {
        color: white;
        font-weight: lighter;
        text-decoration: underline;
    }
}
