:root {
  --white: #FFFFFF;
  --gray: rgba(25, 24, 43, 0.25);
  --pale-navy: #36384D;
  --dark-navy: #242742;
  --vermellion: #FF6155;
  --150: 150px;
  --100: 100px;
  --56: 56px;
  --40: 40px;
  --16: 16px;
  --12: 12px;
  --regular: 400;
  --bold: 700;
}

.font-h {
  font-size: var(--40);
  line-height: 1;
  font-weight: var(--bold);
}
@media screen and (min-width: 1440px) {
  .font-h {
    font-size: var(--56);
  }
}
.font-body {
  font-size: var(--16);
  line-height: 1.5;
  font-weight: var(--regular);
  color: var(--dark-navy);
}
.font-list {
  font-size: var(--16);
  line-height: 1.5;
  font-weight: var(--regular);
  color: var(--dark-navy);
}
.font-b-bold {
  font-size: var(--16);
  line-height: 1.5;
  font-weight: var(--bold);
}
.font-b-small {
  font-size: var(--12);
  line-height: 1.5;
  font-weight: var(--bold);
}

.vermellion {
  color: var(--vermellion);
}

.p-t-1 {
  padding-top: 1px;
}

.p-b-8 {
  padding-bottom: 8px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-b-24 {
  padding-bottom: 24px;
}

.p-b-26 {
  padding-bottom: 26px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-l-16 {
  padding-left: 16px;
}

.p-r-16 {
  padding-right: 16px;
}

.m-t-263 {
  margin-top: 263px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.fd-r {
  display: flex;
  flex-direction: row;
}

.fd-c {
  display: flex;
  flex-direction: column;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.jc-s {
  justify-content: start;
}

.jc-e {
  justify-content: end;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  line-height: 0;
  color: var(--dark-navy);
}
@media screen and (min-width: 1440px) {
  body {
    background-color: var(--pale-navy);
  }
}

@media screen and (min-width: 1440px) {
  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

.base {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--white);
}
@media screen and (min-width: 1440px) {
  .base {
    height: 641px;
    width: 928px;
    border-radius: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .base-small {
    height: 520px;
    width: 504px;
  }
}

.subscribe-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
@media screen and (min-width: 1440px) {
  .subscribe-page {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 24px 24px 24px 64px;
  }
}

.main {
  padding: 40px 24px 40px 24px;
}
@media screen and (min-width: 1440px) {
  .main {
    padding: 0px;
    height: 446px;
    width: 376px;
    margin-right: 64px;
  }
}

.success {
  padding: 149px 24px 40px 24px;
}
@media screen and (min-width: 1440px) {
  .success-body {
    padding: 48px 64px 64px 64px;
  }
}
@media screen and (min-width: 1440px) {
  .success {
    width: 504px;
    height: 520px;
    border-radius: 36px;
    background-color: var(--white);
    padding: 0px;
  }
}

.button-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  border-radius: 8px;
  background-color: var(--dark-navy);
}
@media screen and (min-width: 1440px) {
  .button-subscribe {
    display: flex;
    justify-content: center;
    width: 376px;
    margin-top: 0px;
  }
}
.button-dismiss {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  border-radius: 8px;
  background-color: var(--dark-navy);
  margin-top: 263px;
}
@media screen and (min-width: 1440px) {
  .button-dismiss {
    display: flex;
    justify-content: center;
    width: 376px;
    margin-top: 40px;
  }
}
.button-text {
  color: var(--white);
}

.display-none {
  display: none;
}

#subscribe-email {
  display: inline;
}

.subscribe-email-input {
  width: 100%;
  height: 56px;
  border: 1px solid var(--gray);
  border-radius: 8px;
  padding: 12px 20px;
}

.drop-shadow:hover {
  box-shadow: 0px 16px 32px 0 rgba(255, 97, 85, 0.5);
}

.gradient1:hover {
  background-image: linear-gradient(#FF6A3A, #FF527B);
}

.pointer:hover {
  cursor: pointer;
}

.focus:focus {
  border: 1px solid var(--dark-navy);
  color: var(--dark-navy);
}

.invalid-input {
  border: 1px solid var(--vermellion);
  color: var(--vermellion);
  background-color: rgba(255, 97, 85, 0.15);
}

.attribution {
  font-size: 11px;
  font-weight: lighter;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1440px) {
  .attribution {
    margin-top: 15px;
    margin-bottom: 10px;
    color: white;
    font-weight: lighter;
  }
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-weight: lighter;
}
@media screen and (min-width: 1440px) {
  .attribution a {
    color: white;
    font-weight: lighter;
    text-decoration: underline;
  }
}

/*# sourceMappingURL=index.css.map */
